Añadir comentario: <p>
<form method="post" action="/quizes/<%= quizId %>/comments/">
	<input type="text" id="comment" name="comment[texto]" value="" class="newComentario"/></p>
	<button type="submit" class="btnComentario">Enviar</button>
</form>