<!doctype html>
	<html>
		<head>
			<meta charset="utf-8">
			<title>Author</title>
		
		</head>
		
		
		<body>			
				<h2>Datos usuario</h2>
				<div id="cajaAutor">					
					
						<p><strong>Nombre: </strong>Laura </p>
						<p><strong>Lenguajes de programación: </strong> C, C#, Java con J2EE y J2SE</p>
						<p><strong>Base de datos: </strong> MySQL, PL/SQL, oracle</p>
						<p><strong>Servidores: </strong> Jboss, Apache, GlassFish</p>
						<p><strong>Sistemas operativos: </strong> Windows y Linux</p>
						<p><strong>Frameworks: </strong> Struts, JSF (dentro de JSF estarían las librerias de richfaces y primefaces),</p><p> hibernate, Srping</p>
						<p><strong>Conocimientos de programación: </strong> JDBC, JPA, EJB3, Custom Tags, JSP, Servlets, Web Services,</p><p> JSTL, Android</p>
				</div>	
				<div id="imagenAutor">					
					 <img src="images/images.png" id="imagen1">
				</div>	
					
				<div id="videoAutor">
					<video class="video1" controls>
					<source src="images/MOOC.webm" type="video/webm">
					<source src="images/MOOC.mov" type="video/mp4">
					</video> 
				</div>
				
		</body>
	</html>