*                    { margin: 0; padding: 0; }
body                 { font: 16px Georgia, serif; }

#page-wrap           { margin: 2% auto; color: white; }
#page-wrap > .main   { border: 1px solid #999; padding: 1%; 
	                   margin-bottom: 1px; color: black;}

section > div        { padding: 20px; }
header, nav, section { background: #eee; text-align: center;}
footer               { background: #eee; text-align: center;}
nav span             { margin: 0px 10px 0px 0px;
  					   width: 100%;
  					   display: inline-block;}

#respuesta{
padding:5px;
width:40%;
}					   
					 
 #cajaAutor{
text-align: left;
padding: 5px;
float: left;
}

#imagenAutor {   
    padding-right:15px;
}
#imagenAutor #imagen1{
float:left;
margin-top: 10px;
    width: 30%;
}
	

#videoAutor  .video1{ 
margin-top:25px;
width:40%;
}

#divBusqueda input{
margin: 20px 5px 5px;
 padding: 5px;
}

#divBusqueda #inputSearch{
width:40%;

}

#btnSearch{
background-color:#CEE3F6;
}

#divTabla{
margin-top: 50px;
}

#divTabla #tablaPreguntas{
  margin-left: 20%;
  margin-top: 15px;
  width: 50%;
}

#divTabla #tablaPreguntas button{
background-color:#A9F5F2;
padding:5px;
}

#divTabla tr{
margin:5px;
}

#divBtnNew {
margin-top:15px;
}

#divBtnNew  button{
background-color:#0489B1;
color:white;
padding:5px;
}

#divNew label{
margin:10px;
}

#divNew input{
margin:10px;
}

#divNew .inputNew{
   padding: 5px;
    width: 40%;
}

#divNew #btnSave{
padding: 3px;
background-color:#CEE3F6;
}

#divNew button{
padding: 3px;
background-color:#CEE3F6;
}

nav span {
margin: 0px 10px 0px 0px;
}

#ErrorMsgs {
color: #f61;
font-size: smaler;
}
