
		<form method="get" action="/quizes/<%= quiz.id %>/answer">        
			<br></br>
			Pregunta: <%= quiz.pregunta %>
			<br></br>
			<input type"text" name="respuesta" value="Respuesta"/>
			<input type="submit" value="Enviar">
			<br></br><br></br>
			<a href="/quizes">Lista preguntas</a>	



