<h2>Login</h2>
<form method='POST' action='/login' class="formLogin">
	<div class="field">
		<label for="login">Login: </label></br>
		<input type="text" id="login" name="login" class="inputLogin"/>
	</div>
	<div class="field">
		<label for="password">Password: </label></br>
		<input type="password" id="password" name="password" class="inputLogin"/>
	</div>
	
	<div class="actions">
		<input type="submit" value="Login" name="commit" class="btnLogin"/>
	</div>
</form>